body {
  font-family: Arial, sans-serif;
  background-color: #eef6f9;
  padding: 30px;
  text-align: center;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin: 20px 0;
  background-color: #d612a5;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #eb41dc;
}

table {
  margin: 0 auto;
  width: 60%;
  border-collapse: collapse;
  background-color: white;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
}

th {
  background-color: #f16adf;
  color: white;
}
